agate==1.7.1
alembic==1.6.5
attrs==23.1.0
autopep8==2.0.2
Babel==2.14.0
bcrypt==3.2.0
certifi==2023.11.17
cffi==1.15.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
dbt==1.0.0.35.1
dbt-core==1.7.4
dbt-extractor==0.5.1
dbt-postgres==1.7.4
dbt-semantic-interfaces==0.4.2
dill==0.3.7
distlib==0.3.6
dnspython==2.1.0
email-validator==1.1.3
filelock==3.9.0
Flask==2.0.1
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
greenlet==1.1.1
idna==3.2
importlib-metadata==6.11.0
isodate==0.6.1
itsdangerous==2.0.1
Jinja2==3.1.2
jsonschema==4.20.0
jsonschema-specifications==2023.11.2
leather==0.3.4
Logbook==1.5.3
Mako==1.1.5
MarkupSafe==2.0.1
mashumaro==3.11
minimal-snowplow-tracker==0.0.2
more-itertools==10.1.0
msgpack==1.0.7
networkx==3.2.1
packaging==23.2
parsedatetime==2.6
pathspec==0.11.2
platformdirs==2.6.2
protobuf==4.25.1
psycopg2-binary==2.9.9
py2flowchart==0.0.2
pycodestyle==2.10.0
pycparser==2.20
pydantic==1.10.13
pygame==2.1.2
python-dateutil==2.8.2
python-editor==1.0.4
python-slugify==8.0.1
pytimeparse==1.1.8
pytz==2023.3.post1
PyYAML==6.0.1
referencing==0.32.0
requests==2.31.0
rpds-py==0.15.2
six==1.16.0
SQLAlchemy==1.4.23
sqlparse==0.4.4
text-unidecode==1.3
tomli==2.0.1
typing_extensions==4.9.0
urllib3==1.26.18
Werkzeug==2.0.1
WTForms==2.3.3
zipp==3.17.0
